@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --blue-gradient: #40c9ff;
  --violet-gradient: #e81cff;
  font-size: 13px;
}

.nav-logo img {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
}

.navbar {
  padding: 5px;
}

.nav-logo {
  padding: 10px;
}

.mg-t-60 {
  margin-top: 4.5rem;
}
.mg-t-70 {
  margin-top: 5.3rem;
}

.dark-bg {
  background-color: var(--primary-color);
}
